<ion-content class="background-azul">
  <ion-row class="ion-margin-top-10">
    <ion-col size="12" class="ion-text-center">
      <span class="text-white">Hola</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <span class="font-size-2 text-white">{{nombrePersonal}}</span>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top-10">
    <ion-col size="12" class="ion-text-center">
      <ion-button class="text-white font-size-2">Click</ion-button>
    </ion-col>
  </ion-row>

  

  
</ion-content>
